<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=192.168.80.24;Initial Catalog=BSSiseveeb;User Id=BSSiseveeb;Password=S1s3v33b-789;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="ida:RedirectUri" value="http://dev.brightspark.ee/siseveeb/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors defaultRedirect="GenericError.htm" mode="RemoteOnly" xdt:Transform="Replace">
      <error statusCode="500" redirect="/Error/ServerError"/>
      <error statusCode="403" redirect="/Error/UnAuthorized"/>
    </customErrors>
  </system.web>
</configuration>
