@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Brightspark Siseveeb</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Uudis nr 1</h2>
        <p>Sisu osa</p>
    </div>
</div>