
@{
    ViewBag.Title = "Töömaterjalid";
}

<h2>Töömaterjalide taotlus</h2>
<div>
    <label for="title">Nõutud töövahendid: </label>
    <input id="title" class="form-control" name="title" size="40"/> <br/>
    <label for="info">Täpsustav info:</label>
    <textarea class="form-control" id="info" name="info" rows="5" Columns="40"></textarea><br/>
    <input type="submit" class="btn btn-submit" value="Saada" onClick="sendRequest()">
    <h4 id="status"></h4>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/general.js")
    @Scripts.Render("~/Scripts/requests.js")
}