@using BSSiseveeb.Public.Web.Models
@model WorkersViewModel


@{
    ViewBag.Title = "Töötajad";
}
    
<h2>Töötajad</h2>

<table id="workers" class="table table-bordered">
    <thead>
    <tr id="mainRow">
        <th>Nimi</th>
        <th>Sünnipäev</th>
        <th>Telefon</th>
        <th>E-mail</th>
    </tr>
    </thead>
    <tbody id="workersBody">
        @Html.DisplayFor(e => e.Employees)
    </tbody>
</table>

@section scripts {
    @Scripts.Render(ScriptBundles.Workers)
}