@model BSSiseveeb.Core.Dto.EmployeeDto

<tr>
    <td>@Model.Name</td>
    @if(Model.Birthdate.HasValue)
    {
        <td>@Model.Birthdate.Value.ToString("dd MMM yyyy")</td>
    }
    else
    {
        <td> </td>
    }
    <td>@Model.PhoneNumber</td>
    <td>@Model.Email</td>
</tr>