@using BSSiseveeb.Public.Web.Models
@model WorkersViewModel

@{
    ViewBag.Title = "Töötajad";
}

<h2>Töötajad</h2>

<table id="workers" class="table table-bordered">
    <thead>
        <tr id="mainRow">
            <th>Nimi</th>
            <th>Sünnipäev</th>
            <th>Telefon</th>
            <th>E-mail</th>
            <th>Lepingu algus</th>
            <th>Lepingu lõpp</th>
            <th>Töötatud aeg</th>
            <th>Muuda</th>
        </tr>
    </thead>
    <tbody id="workersBody">
    @for(var i = 0; i < Model.Employees.Count; i++)
    {
        @Html.DisplayFor(x => x.Employees[i], "AdminEmployee")
    }
    </tbody>
</table>

@section scripts {
    @Scripts.Render("~/Scripts/general.js")
}