<h1>Admin area</h1>
<h3>Pending Puhkused</h3>
<h5 id="vacationStatus"></h5>
<table id="vacations" class="table table-bordered">
    <thead>
    <tr>
        <th>Nimi</th>
        <th>Puhkuse Algus</th>
        <th>Puhkuse Lõpp</th>
        <th>Approve/Decline</th>
    </tr>
    </thead>
    <tbody id="vacationsBody"></tbody>
</table>

<h3>Confirmed Puhkused</h3>
<h5 id="confirmedVacationStatus"></h5>
<table id="confirmedVacations" class="table table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Puhkuse Algus</th>
            <th>Puhkuse Lõpp</th>
            <th>Muuda/Delete</th>
        </tr>
    </thead>
    <tbody id="confirmedVacationsBody"></tbody>
</table>

<h3>Pending Requests</h3>
<h5 id="requestStatus"></h5>
<table id="requests" class="table table-bordered">
    <thead>
    <tr>
        <th>Nimi</th>
        <th>Taotlus</th>
        <th>Lisainfo</th>
        <th>Aeg</th>
        <th>Approve/Decline</th>
    </tr>
    </thead>
    <tbody id="requestsBody"></tbody>
</table>


@section scripts {
    @Scripts.Render("~/Scripts/general.js")
    @Scripts.Render("~/Scripts/bootstrap-datepicker.js")
    @Scripts.Render("~/Scripts/admin.js")  
}