<h1>Admin area</h1>
<h3>Pending Puhkused</h3>
<h5 id="vacationStatus"></h5>
<table id="vacations" class="table table-bordered">
    <thead>
    <tr>
        <th>Nimi</th>
        <th>Puhkuse Algus</th>
        <th>Puhkuse Lõpp</th>
        <th>Lisainfo</th>
        <th>Approve/Decline</th>
    </tr>
    </thead>
    <tbody id="vacationsBody"></tbody>
</table>

<h3>Confirmed Puhkused</h3>
<h5 id="confirmedVacationStatus"></h5>
<table id="confirmedVacations" class="table table-bordered">
    <thead>
    <tr>
        <th>Nimi</th>
        <th>Puhkuse Algus</th>
        <th>Puhkuse Lõpp</th>
        <th>Lisainfo</th>
        <th>Modify/Delete</th>
    </tr>
    </thead>
    <tbody id="confirmedVacationsBody"></tbody>
</table>

@section scripts {
    @Scripts.Render(ScriptBundles.AdminVacations)
}